<img src='https://www.insaid.co/wp-content/uploads/2018/04/INSAID_Logo-1.png' height="240" width="360"/>
<br/>
# Python basics

### 1.Write a Python program to print the following string

Sample String: "Welcome to INSAID- International School of AI and Data Science"

In [1]:
print("Welcome to INSAID- International School of AI and Data Science")

Welcome to INSAID- International School of AI and Data Science

### 1.1 In a “Hello, World!” program, a comment may look like this:

In [2]:
# Print “Hello, World!” to console
print("Hello, World")

Hello, World

In [3]:
# Define sharks variable as a list of strings ('hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem')

sharks=['hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem']

# For loop that iterates over sharks list and prints each string item

for i in sharks:
    print(i)

hammer
white
fish
frilled
bullhead
requiem

### 2.Write a Python Program to Add Two Numbers

In [5]:
# initialise two varaibles
a = 4
b = 5

# Add two numbers
sum=a + b

# Display the sum
print('the sum of a and b is ',sum)

the sum of a and b is  9

### 3.Write a Python Program to Find the product of two numbers

In [6]:
# initialise two varaibles
a = 4
b = 5


# multiply two numbers
product= a * b

# Display the product

print("The product of a and b is ", product)

The product of a and b is  20

### 4.Write a python program to find the area of triangle given height and base of the triangle as 3 and 10.

In [7]:
# Area of the triangle A= 1/2(base * height)

#given height=3 and base =10

height = 3
base = 10
area= 1/2 * height * base

print('The area of triangle is ', area)

The area of triangle is  15.0

### 5.Python Program to Swap Two Variables

In [8]:
# initialise two varaibles

a = 1
b = 2
print ('a is ', a)
print ('b is ', b)
# create a temporary variable and swap the values
c = a
a = b
b = c

print('a is now',a)
print('b is now ', b)

a is  1
b is  2
a is now 2
b is now  1

## Section

### 1.Write a python program to print datatype of a varaible

In [9]:
a = 1
print('the datatype of variable a is ', type(a))

b = 2.0
print('the datatype of variable b is ', type(b))

c = 1+2j
print('the datatype of variable c is', type(c))

the datatype of variable a is  <class 'int'>
the datatype of variable b is  <class 'float'>
the datatype of variable c is <class 'complex'>

### 2.Write a python program to extract an item or a range of items from a list.

In [12]:
a = [15,20,35,40,45,30,35,60]

# Print the item at index 2
print('the item at index 2 is', a[2])
# Print the first 3 items
print('the first three items of list are',a[:3])
# Print the last 3 items
print('the last three items of list are ', a[-3:])
# Start to third last item
print('the third last item is ', a[-3])

the item at index 2 is 35
the first three items of list are [15, 20, 35]
the last three items of list are  [30, 35, 60]
the third last item is  30

### 3.Converting Floats to Integers

In [13]:
b = 125.0
c = 390.8

# Print the Integer values
print('integer value of b is ',int(b))
print('integer value of c is', int(c))    ### converting Float variable into Interger variable does not perform round off

integer value of b is  125
integer value of c is 390

### 4.Converting Numbers to Strings

In [15]:
a = 10

print(a, "is of type", type(a))

# Convert the value in a to a string and then print
a = str(a)
print(a, 'is of type', type(a))

10 is of type <class 'int'>
10 is of type <class 'str'>

### 5.Converting Strings to Numbers

In [18]:
a = "50"
b = "108"

# Find the difference between a and b

diff= int(b) - int(a)
print('difference of a and b is ', diff)

difference of a and b is  58

### 6.Converting list to Tuples

In [21]:
myList = ['request', 'source', 'repository', 'branch']

# Print myList to a Tuple
myTuple=tuple(myList)
print(myTuple, type(myTuple))

('request', 'source', 'repository', 'branch') <class 'tuple'>

### 7.Converting tuple to Lists

In [ ]:
myTuple = ('blue', 'red', 'white')

# Print myTuple to a List

### 8.converting strings to lists:

In [22]:
myString = 'INSAID'

# Convert myString to List
myList1=list(myString)

print(myList1)

['I', 'N', 'S', 'A', 'I', 'D']

### 9.Assign different data types to a varibles

In [23]:
# Try string, float, boolean, list, tuple, dictionary

myString='INSAID'
myFloat=2.5
myBoolean= True
myList2=list(myString)
myTuple=tuple(myString)
mydict={'I' : 1 , 'N' : 2, 'S' : 3, 'A' : 4, 'I' : 5, 'D' : 6}

print(myString, ' is of type ', type(myString))
print(myFloat, ' is of type ',type(myFloat))
print(myBoolean, ' is of type ', type(myBoolean))
print(myList2, ' is of type ', type(myList2))
print(myTuple, ' is of type ', type(myTuple))
print(mydict, ' is of type ', type(mydict))

INSAID  is of type  <class 'str'>
2.5  is of type  <class 'float'>
True  is of type  <class 'bool'>
['I', 'N', 'S', 'A', 'I', 'D']  is of type  <class 'list'>
('I', 'N', 'S', 'A', 'I', 'D')  is of type  <class 'tuple'>
{'I': 5, 'N': 2, 'S': 3, 'A': 4, 'D': 6}  is of type  <class 'dict'>

## Section

### Print out a string that uses a formatter

In [24]:
# Print "john has 5 cars." using formatter

print('john has {} cars'.format(5))

john has 5 cars

### We can also assign a variable to be equal to the value of a string that has formatter placeholders:

In [29]:
open_string = "john likes {}."

# Use format method to print the following output "john likes open source."
print(open_string.format('open source'))

john likes open source.

### Using Formatters with Multiple Placeholders

In [30]:
new_open_string = "john likes {} {}."                      #2 {} placeholders
# Pass 2 strings into format method, separated by a comma to get output "john likes open-source software."
print(new_open_string.format('open source','software'))

john likes open source software.

In [32]:
sammy_string = "john loves {} {}, and has {} {}."                      #4 {} placeholders
# Pass 4 strings into method to get output "john loves open-source software, and has 5 laptops."

print(sammy_string.format('open source','software',5,'laptops'))

john loves open source software, and has 5 laptops.

### Reordering Formatters with Positional and Keyword Arguments

In [31]:
# Reference sample
print("john the {} has a pet {}!".format("shark", "pilot fish"))

john the shark has a pet pilot fish!

### We can pass these index numbers into the curly braces that serve as the placeholders in the original string:

In [35]:
# Reference Sample
print("john the {0} has a pet {1}!".format("shark", "pilot fish"))

print("john is a {0}, {1}, and {2} {3}!".format("happy", "smiling", "blue", "shark"))

john the shark has a pet pilot fish!
john is a happy, smiling, and blue shark!

### Python Program to Get String Input from User

In [37]:
#Enter any string and print it

myStr=input('Enter your name:')
print('Hello ', myStr)

Enter your name:Jatin
Hello  Jatin

### Python program for conditional statements

### 1)If the student receives over 65% on her test, report that her grade passes; if not, report that her grade fails

In [39]:
grade = 70
if grade < 65 :
    print('Fail')
else:
    print('Pass')

Pass

In [41]:
# Use only if
grade = 60
print('Fail')
if grade  > 65 :
    print("Pass")

Fail

### Write a python program calculate whether a bank account balance is below 0 and print appropriate message.

In [47]:
# Use if else
balance = -10
if balance <= 0:
    print('You have a 0 balance, work hard !')
else:
    print('You have a sufficient balance')

You have a 0 balance, work hard !

### Using Else if statement

In [48]:
balance = 522
if balance < 0 :
    print('You have a low balance')
elif balance < 200 :
    print('You have sufficient balance')
elif balance >500:
    print('You have good balance')

You have good balance

### Python program to print  Fibonacci series between 0 to 50.

In [249]:
a=0
b = 1
print(1, a)
i =0
while b < 50 :
    print(i+2,b)
    a,b=b,a+b
    i=i+1

1 0
2 1
3 1
4 2
5 3
6 5
7 8
8 13
9 21
10 34

### Python program to find numbers which are divisible by 7 and multiple of 5 between a range 150 to 270

In [53]:
a=range(150,270)
for i in a:
    if i%7 ==0 and i%5==0:       ### Checking remainder = 0 when number is divided by 7 and 5
        print(i)

175
210
245

### Python program to Sum all the items in a list

In [57]:
def sum_list(items):
    total=0
    for i in items:
        total +=i
    return total
    
print(sum_list([20,12,20,22]))

print(sum_list([1,2,3,4,5,6,7,8,9,10]))
print(sum_list(range(1,11)))

74
55
55

### Python program to Remove duplicates from a list.

In [250]:
a = [10,20,30,40,50,60,70,40,80,50,40]

## creating a function to remove duplicates in a list

def remove_list_duplicate(items):
    new_list=[]
    for i in items:
        if i not in new_list:
            new_list.append(i)
    return ("the new list after removing duplicate values:", new_list)

print(remove_list_duplicate(a))

b=list('INSAID')
print(b)
remove_list_duplicate(b)

('the new list after removing duplicate values:', [10, 20, 30, 40, 50, 60, 70, 80])
['I', 'N', 'S', 'A', 'I', 'D']

('the new list after removing duplicate values:', ['I', 'N', 'S', 'A', 'D'])

In [67]:
### Other method is to convert list into a SET and then change back to list with sorting to get the same results.
### SET by definition does not have duplicates but it lacks order as well as it lacks in built indexes.

new_list=list(set(a))      ## without sorting
print(new_list)
new_list1=sorted(list(set(a)))  ## with sorting
print(new_list1)

[70, 40, 10, 80, 50, 20, 60, 30]
[10, 20, 30, 40, 50, 60, 70, 80]

### Python program to Get the largest number from a list.

In [105]:
def max_num_in_list(items):
    list_len=len(items)
    i=0
    while i < list_len-1:
        max_num = items[i]
        if max_num < items[i+1]:
            max_num = items[i+1]
        else:
            max_num=items[i]
                   
        i= i+1
    return (max_num)
    
print(max_num_in_list([1, 12, 28, 0,40,39,84]))

84

### Concatenation of Tuples.

In [106]:
# Code for concatenating 2 tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')
 
# Concatenating above two
print(tuple1 + tuple2 )

(0, 1, 2, 3, 'python', 'code')

### Nesting of Tuples.

In [109]:
# Code for creating nested tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')
tuple3 = (tuple1) + (tuple2)
print(tuple3)

(0, 1, 2, 3, 'python', 'code')

### Write a Python program to add an item in a tuple.

In [117]:
# Create a tuple & print

tuple_n=(1,2,3,4,5)
print(tuple_n)

#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple

# Adding items in a specific index
print(tuple_n[1])

tuple_n + (5,6,3)
tuple_n[4]=5

(1, 2, 3, 4, 5)
2

TypeError: 'tuple' object does not support item assignment

### Write a Python program to remove an item from a tuple.

In [141]:
# Create a tuple and print it
tuple_x=(1,2,3,4,5)
print(tuple_x)
# Find a way to remove an item of the tuple (Hint: Use other data types)
mylist_x=list(tuple_x)
print(mylist_x)
mylist_x.remove(3)
tuple_x=tuple(mylist_x)
print(tuple_x)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
(1, 2, 4, 5)

### Python Program to Check if a given key already exists in a dictionary.

In [149]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
def is_key_present(x,d):
  flag=False
  if x in d:
        flag=True
  else: 
    flag=flag
  return flag
print(is_key_present(5,d))
print(is_key_present(9,d))

True
False

### Write a Python script to merge two Python dictionaries.

In [160]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d3= {**d1,**d2}
print(d3)
d1.update(d2)
print(d1)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}
{'a': 100, 'b': 200, 'x': 300, 'y': 200}

### Write a Python function to find the Max of three numbers.

In [176]:
def max_of_two( x, y ):
    max_num=0
    if x > y:
        max_num=x
    else: 
        max_num=y
    return max_num
def max_of_three( x, y, z ):
    max_num1=0
    if max_of_two(x,y) < z:
        max_num1 = z
    else:
        max_num1= max_of_two(x,y)
    return max_num1

print(max_of_three(18, 14, -8))

18

### Write a Python program to reverse a string.

In [210]:
def string_reverse(str1):
    new_str=[]
    i= len(str1) -1
    while 0 <=i < len(str1):
        new_str.append(str1[i])
        i -=1
    return(str(new_str))
    
print(string_reverse('INSAID'))

['D', 'I', 'A', 'S', 'N', 'I']

In [217]:
## Simpler Program

def string_reverse1(xyz):
    nxyz=xyz[::-1]    ## Slicing the string with index value. Start from last value towards first with step -1
    return(nxyz)

print(string_reverse1('INSAID'))

DIASNI

### Write a Python function to calculate the factorial of a number

In [222]:
def factorial(n):
    fact=1
    if n <=1 :
        fact=1
    else:
        fact= n * factorial(n-1) ## Nesting the same function inside the function
    return fact
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 4
24

### Write a Python function to sum all the numbers in a list.

In [223]:
def sum_of_list(numbers):
    tot=0
    for i in numbers:
        tot +=i
    return tot
print(sum_of((8, 2, 3, 0, 7)))

20

### Write a Python function to check whether a number is in a given range.

In [224]:
def test_range(n,x,y):
    flag = False
    if n in range(x,y):
        flag=True
    else:
        flag=flag
    return flag 
test_range(5,1,20)

True

### Find the value of pi using math module.

In [225]:
# import statement example
# to import standard module math

import math

print(math.pi)

3.141592653589793

### Write a Python program to read an entire text file.

### Content of text.txt.

### What is Python language?      

#### Python is a widely used high-level, general-purpose, interpreted, dynamic programming language.

In [251]:
def file_read(fname):
    ftext= open(fname)
    print(ftext.read())

file_read('test_new.txt')

This is a new file
This is line 2
This is line3

### Write a Python program to read a file line by line and store it into a list.

In [252]:
def file_read(fname):
        ftext=open(fname)
        #flist=list(ftext.readlines())
        return ftext.readlines()   #### this will also result is list implicitly.

print(file_read('test_new.txt'))

['This is a new file\n', 'This is line 2 \n', 'This is line3\n']

### A python program to create user-defined exception.

In [7]:
class MyError(Exception):
 
    # Constructor or Initializer
    def __init__(self, value):
        self.value = value
 
    # __str__ is to print() the value
    def __str__(self):
        return # Your code goes here to get -> 'A New Exception occured: 0.42857142857142855'
 
try:
    raise(MyError(3/7))
 
except MyError as error:
    print(error)

A New Exception occured: 0.42857142857142855

### Write a Python program to calculate the discriminant value. (b <sup>2</sup> - 4ac)

In [9]:
def discriminant():
    a_value = float(input('The a value: '))
    b_value = float(input('The b value: '))
    c_value = float(input('The c value: '))
    
    # Calculate th
    
    return # The value


discriminant()

The a value: 11
The b value: 111
The c value: 111

In [10]:
print('Hello World')

Hello World

In [245]:
print('What am I typing are you able to see?')

What am I typing are you able to see?